<div class="container"  ng-controller="ListsController as lists">
  <br>
  <!-- Random trip generation -->
  <div>
    <form ng-submit="trips.randomTrip(selectedList)">
      <div class="input-field">
        <label for="origins">Enter a city to depart from:</label>
        <input type="text" name="origin" ng-model="trips.origin.description">
      </div>
      <button type="submit" name="action" class="btn waves-effect">Take me somewhere!
        <i class="material-icons right">send</i>
      </button>
      <p>Do you need a damn vacation? Simply input your departure airport and we'll give you a place to go! For different flavors of places, select from our hand selected destination lists or sign up for even more cusomization!</p>
    </form>
  </div>
  <br><br>
  <!-- Lists chooser -->
  <div>
    <div>
      <select class="browser-default" ng-model="selectedList" ng-options="list as list.description for list in lists.allLists track by list._id" name="destination_list"></select>
      <label for="destination_list">Select a list to randomly choose from: </label>
    </div>
  </div>
  <!-- Loading animation -->
  <div class="progress" ng-if="trips.destination && !trips.lowestQuote">
    <div class="indeterminate"></div>
  </div>
  <!-- Results block, appears when destination is instansiated -->
  <div class="row" ng-if="trips.destination && trips.lowestQuote">
    <div class="col s12 m6">
      <div class="card green lighten-4">
        <div class="card-content">
          <span class="card-title">Results</span>
          <p>Why don't you go to {{trips.destination.description}}?
          You can find flights for around {{trips.lowestQuote.MinPrice | currency}}.</p>
        </div>
        <div class="card-action">
          <a ng-href="http://partners.api.skyscanner.net/apiservices/referral/v1.0/US/USD/en-US/{{trips.origin.skyscanner_id}}/{{trips.destination.skyscanner_id}}/anytime?apiKey=prtl674938798674" target="_blank">Browse Flights</a>
        </div>
      </div>
    </div>
  </div>
</div>
