<div ng-if="!home.currentUser || !home.currentUser.preferred_departure">
  <form ng-submit="trips.randomTrip(origin)">
    <label for="origins">Select a city to depart from:</label>
    <select ng-model="origin" name="origin">
      <!-- Ng-value sets the value of the model equal to the city object rather than the city description. City has to be re-filtered into a json string for ng-value to work as expected.  -->
      <option ng-repeat="city in trips.cities" ng-value="city | json">{{city.description}}</option>
    </select>
    <input type="submit" value="Take me somewhere!">
  </form>
</div>

<div ng-controller="ListsController as lists">
  <select ng-model="lists.allLists" ng-options="list.description for list in lists.allLists" name="destination_list"></select>
</div>

<div ng-if="trips.destination">
  Why don't you go to {{trips.destination.description}}?
  You can find flights for around {{trips.lowestQuote.MinPrice | currency}}
  Click <a ng-href="http://partners.api.skyscanner.net/apiservices/referral/v1.0/US/USD/en-US/{{trips.origin.skyscanner_id}}/{{trips.destination.skyscanner_id}}/anytime?apiKey=prtl674938798674">here</a> to browse flights
</div>
