<div class="container">
  <h4 class="center">Sign in to your account</h4>
  <form ng-submit="auth.login(user)">
    <div class="input-field">
      <label for="email">Email</label>
      <input ng-model="user.email" type="text" name="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input ng-model="user.password" type="password" name="password">
    </div>
    <button type="submit" name="button" class="btn waves-effect">
      Login<i class="material-icons right">send</i>
    </button>
  </form>
</div>
