<div ng-controller="ListsController as lists">
  <!-- List select-->
  <form ng-if="!lists.showAddList">
    <label for="departure_list">Select a list to choose from:</label>
    <select name="departure_list" ng-model="lists.selectedList" ng-options="list.description for list in lists.allLists">
    </select>
    <!-- Add list button -->
    <input type="button" name="add_list" value="Add a list" ng-click="lists.showAddList = true">
    <!-- Delete list button -->
    <input type="button" name="remove_list" value="Delete selected list" ng-click="lists.deleteList(lists.selectedList)">
  </form>
  <!-- Add list form -->
  <form ng-if="lists.showAddList" ng-submit="lists.addList(newList)">
    <label for="addList">Enter new list name:</label>
    <input ng-model="newList.description" type="text" name="addList">
    <!-- submit -->
    <input type="submit" value="Submit">
    <!-- Cancel Adding button -->
    <button type="button" ng-click="lists.showAddList = false">Cancel Adding</button>
  </form>
  <!-- List items -->
  <ul>
    <!-- city -->
    <li ng-repeat="city in lists.selectedList._cities">
      <!-- City display -->
      <span ng-if="!city.showEdit">{{city.description}}</span>
      <!-- Edit form -->
      <form ng-if="city.showEdit" ng-submit="lists.editCity(city)">
        <label for="update_city">Enter the updated city name: </label>
        <input type="text" ng-model="city.description" name="update_city">
        <input type="submit" name="submit" value="submit" ng-click="city.showEdit = false">
      </form>
      <!-- Edit city button -->
      <button type="button" ng-if="!city.showEdit" ng-click="city.showEdit = true">Edit City</button>
      <!-- Cancel editing button -->
      <button type="button" ng-if="city.showEdit" ng-click="city.showEdit = false">Cancel Editing</button>
      <!-- Remove city button -->
      <button type="button" ng-click="lists.removeCity(city, lists.selectedList)">Remove city from list</button>
    </li>
  </ul>
  <!-- Add city form -->
  <div ng-if="lists.showAddCity">
    <form ng-submit="lists.addCity(newCity, lists.selectedList)">
      <label for="new_city">Enter new city name:</label>
      <input ng-model="newCity.description" type="text" name="new_city">
      <input type="submit">
    </form>
  </div>
  <!-- Add city button -->
  <button ng-if="lists.selectedList" type="button" ng-click="lists.showAddCity = true">Add a city</button>
</div>
