<div class="container">
  <h4 class="center">Sign up for an account</h4>
  <form ng-submit="auth.signup(user)">
    <div class="input-field">
      <label for="email">Email</label>
      <input class="validate" ng-model="user.email" type="email" name="email">
    </div>
    <div class="input-field">
      <label for="origin">Preferred Departure City:</label>
      <input ng-model="user.origin" type="text" name="origin">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input ng-model="user.password" type="password" name="password">
    </div>
    <button type="submit" name="button" class="btn waves-effect">
      Sign up<i class="material-icons right">send</i>
    </button>
  </form>
</div>
